@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
  background: #f9fafb;
}

input:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
